* {
    padding: 0;
    margin: 0;
}

html
{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body
{
    overflow-x: hidden;
}

a{
    color: #000 !important;
    text-decoration: none
}

.img, svg{
    vertical-align: bottom;
}


.sectionTitle{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: calc(25px + 15 * (100vw / 1440));
    line-height: calc(25px + 55 * (100vw / 1440));
    color: #000000;
    text-align: center;
}

/*skrollbar*/
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: none;
}

::-webkit-scrollbar-thumb{
    background: #2F65B9;
    border-radius: 10px;
    height: 40px;
}

/*intro style begin*/

.introContainer{
    padding: 5%;
    height: 60vh;
}

.intro{
    padding: 3vh;
    display: grid;
    grid-template-areas:

    'DirName DirName'
    'profile department';
    grid-gap:15px;
    background-color: #F5F5F5;
    border-radius: 20px;
    grid-template-columns: 1fr 1fr;

}

.mainLogo{
    display:grid;
    width: 100%;
    height: 10vh;
    grid-area: mainLogo;
    justify-content: center;
    padding-bottom: 2vh;
}

.mainLogoMobile{
    display:none;
}
.Logo{
    width: 100%;
}

.DirName{

    grid-area: DirName;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: calc(20px + 15 * (100vw / 1440));
    line-height: 33px;
    text-align: center;
    padding-top:50px;
    padding-bottom: 10px;

}

.profile{
    height: 10vh;
    grid-area: profile;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: calc(20px + 2 * (100vw / 1440));
    line-height: 33px;
    text-align: center;
}

.department{
    height: 10vh;
    grid-area: department;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: calc(20px + 2 * (100vw / 1440));
    line-height: 33px;
    text-align: center;
}

/*About style begin*/

.detailsSubPages{

    height: 100%;
    background-color: white;
    padding: 5%;
}

.detailCon{
    background-color: white;
    height: 100%;
    padding: 0 5% 0 1%;

}

.detailMain{
    margin-top: 5vh;

}

.detailsTitle{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: calc(20px + 15 * (100vw / 1440));
    line-height: 33px;
    text-align: center;
}

.detailsTitleBlack{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: calc(20px + 25 * (100vw / 1440));
    line-height: calc(20px + 25 * (100vw / 1440));
    color: black;
}

.rowTitle{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: calc(14px + 13 * (100vw / 1440));
    line-height: calc(16px + 17 * (100vw / 1440));
    text-align: center;

    color: black;
}

.verticalLineBlock{
    justify-content: center;

}

.circle{
    background:black;
    margin:0 auto;
    border-radius:50%;
    width: calc(13px + 15 * (100vw / 1440));
    height: calc(13px + 15 * (100vw / 1440));
}

.verticalLine{
    position:relative;
    height:100%;
    border: 2px solid black;
    margin: 0 auto;
}

.lineBlock{
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
}

.rowBody{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: calc(14px + 15 * (100vw / 1440));
    line-height: calc(16px + 17 * (100vw / 1440));
    margin-left: 1%;
    color: black;
    padding-left: 4vw;
    padding-bottom: 4vh;
}

.noLine{
    border: none;
}

/*interview start*/

.interviewContainer{
    padding:5%;

}


.interviews{
    display:grid;
    grid-template-areas:

    'studentphoto interview interview interview interview'
    'studentphoto interview interview interview interview';
    grid-gap:20px;


 }

.notFirstInterview{
    margin-top: 10vh;
}

.photo{
    height: 150px;
    weight: 150px;
}

.studentPhoto{
    grid-area: studentphoto;

}

.soonImg{
    max-width: 1071px;
    max-height: 602px;

}

.studentName{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: calc(14px + 10 * (100vw / 1440));
    line-height: calc(14px + 15 * (100vw / 1440));
}

.interview-videoBlocks{
    grid-area: interview;
}

.emptyInterview{
    padding-left: 250px;
}



/*slider-interviews start*/

.slider{
    position: relative;
    display: none;
}

.slider .slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 10;
    visibility: hidden;
}

.slider .slick-dots{
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0px;

}

.slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;
}

.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button{
    background-color: black;
    border: 0.5px solid black;
}
.slick-slider{

}
/* Слайдер запущен */
.slick-slider.slick-initialized{

}
/* Слайдер с точками */
.slick-slider.slick-dotted{

}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}

/*slider-directions end*/

/*footer style begin*/
.footer{
    padding: 5%;
    background: #2B2B2B;
}

.footerHeader{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    padding-left: 2rem;
    text-align: left;
    color: #FFFFFF;
    margin-bottom:15px;
}

.contactWithUs{
    display: none;
}

.footerContent{
    display: grid;
    grid-template-areas:
    "contacts qr";
    grid-template-rows: 100%;
    grid-template-columns: 9fr 1fr;
}

.contacts{
    display: block;
    list-style: none;
    width: 100%;
    grid-area: contacts;
}

.contactsItem{
    margin-bottom: 2px;
}

.footerText{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;

    color: #FFFFFF;
}

.footerIcon{
    max-height: 26px;
    max-width: 26px;
    vertical-align: inherit;
}

.qr{
    margin: auto auto;
    padding-right: 2rem;
    grid-area: qr;
}
/*footer style end*/


@media all and (max-width: 800px) {

    .introContainer{
        height:50vh;
    }

    .intro{
        grid-template-areas:
        'DirName'
        'profile';

        grid-gap:20px;
        grid-template-columns: none;

    }

    .DirName{
        padding-top: 30px;
    }

    .profile{
        padding: 10px;
        font-size: 25px;
    }

    .department{
        display: none;
    }

    .detailsSubPages{
        padding:0;
    }

    .photo{
        height: 100px;
        width: 100px;
    }

    .interviews{
        display: none;
    }

    .slider{
        display: block;
        position: relative;
    }

    .card {
        margin: 0 auto;
        box-sizing: border-box;
        width: 360px;
        height: 400px;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 20px;
        padding: 30px;
        min-height:400px;

        display: grid;
        grid-template-areas:
        'studentphoto studentname'
        'video video';

        grid-gap:10px;
        grid-template-columns: none;
    }

    .studentPhoto{
        grid-area: studentphoto;
    }
    
    .studentName{
        grid-area: studentname;
        height: 100px;
        font-style: normal;
        font-weight: 300;
        font-size: calc(14px + 20 * (100vw / 1440));
        line-height: calc(14px + 20 * (100vw / 1440));
        text-align: justify-all;
    }

    .interview-videoBlocks{
        grid-area: video;
    }

    .emptyInterview{
        display: none;
    }

    .photo{
        height: 150px;
        width: 150px;
    }

    .footerContent{
        grid-template-rows: 100%;
        grid-template-columns: none;
        justify-content: center;
    }

    .contactWithUs{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 55px;
        color: #FFFFFF;
    }

    .footerHeader{
        text-align: center;
    }

    .footerText{

        margin-left: 0%;
    }

    .contacts{
        margin:0;
    }

    .qr{
        display:none;
    }
}

@media all and (max-width: 400px) {


    .introContainer{
        height: 65vh;
    }

    .profile{
        height: 17vh;
    }

    .card{
        max-width: 285px;
        align-items: center;
        padding:20px;
    }
    .DirName{
        padding: 5px;
    }

    .photo{
        height: 130px;
        width: 130px;
    }

    .interview-videoBlocks{

    }

    .detailsCon{
        padding: 7px;
    }

    .footerHeader{
        font-size: 33px;
    }

    .contacts{
        padding-left: 0rem;
    }
}

@media all and (max-width: 355px) {

    .introContainer{

        height:55vh;
    }

    .verticalLineBlock{

    }

    .rowTitle{
        font-size: 15px;
        text-align: left;
    }

    .rowBody{
        font-size: 15px;
        padding-left: 0px;
        margin: 0px;
    }

    .DirName{
        padding-top: 6px;
        font-weight: 800;
        font-size: calc(12px + 15 * (100vw / 1440));
        line-height: 20px;
    }

    .profile{
        padding-top: 0px;
        font-size: calc(12px + 15 * (100vw / 1440));
        line-height: 20px;
    }

    .card{
        max-width: 250px;
        align-items: center;
    }

    .photo{
        height: 100px;
        width: 100px;
    }

    .footerText{
        font-size: 23px;
    }

    .qr{
        height: 20px;
        width: 20px;
    }

}

@media all and (min-width: 5000px){

    .DirName{

        padding-top: 200px;
        font-size: calc(50px + 15 * (100vw / 1440));
        line-height: calc(30px + 15 * (100vw / 1440));
        border: 2px solid black;
    }

    .profile{
        font-size: calc(30px + 15 * (100vw / 1440));
        line-height: calc(30px + 15 * (100vw / 1440));
    }

    .department{
        font-size: calc(30px + 15 * (100vw / 1440));
        line-height: calc(30px + 15 * (100vw / 1440));
    }

    .container{
        max-width: 5120px;
    }

    .detailsSubPages{
        padding-bottom: 0px;
    }


    .rowTitle{
        font-size:80px;
    }

    .rowBody{
        font-size:80px;
        line-height: 90px;
    }

    .sectionTitle{
        font-size: calc(70px + 15 * (100vw / 1440));
    }

    .photo{
        width: 700px;
        height: 700px;
    }

    .studentName{
        line-height: calc(50px + 15 * (100vw / 1440));
        font-size: calc(40px + 15 * (100vw / 1440));
    }

    /*footer style begin*/
    .footer{
        padding: 5%;
        background: #2B2B2B;
    }

    .footerHeader{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: calc(100px + 5 * (100vw / 1440));
        line-height: calc(75px + 20 * (100vw / 1440));
        margin-bottom:70px;
        text-align: left;
        color: #FFFFFF;
    }

    .contactWithUs{
        display: none;
    }

    .footerContent{
        display: grid;
        grid-template-areas:
        "contacts qr";
        grid-template-rows: 100%;
        grid-template-columns: 9fr 1fr;
    }

    .contacts{
        display: block;
        list-style: none;
        width: 100%;
        grid-area: contacts;
        margin: 0;
    }

    .footerText{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: calc(75px + 5 * (100vw / 1440));
        line-height: calc(55px + 20 * (100vw / 1440));
        margin-left: 2%;
        color: #FFFFFF;
    }

    .footerIcon{
        height: 70px;
        width: 70px;
        max-width: 70px;
        max-height: 70px;

    }

    .qr{
        margin: auto auto;
        height: 500px;
        width: 500px;

        grid-area: qr;
    }
    /*footer style end*/
}